.basket-body{
    display: flex;
    /*background: orange;*/
    flex-wrap: wrap;
}
.basket-header{
    font-size: 3em;
    padding-left: 75px;
    width: 100%;
    margin-bottom: 20px;
}
.basket-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*background: chartreuse;*/
}

.basket-product-block{
    padding: 5px;
    width: 100%;
    max-width: 1380px;
    min-width: 100%;
    display: flex;
    border: dimgrey solid 1px;
    margin: 10px auto auto auto;
    border-radius: 30px;
    /*background: darkslateblue;*/
}

.basket-product-block:hover{
    border: #e9c857 solid 1px;
}

.basket-product-block img{
    /*background: blueviolet;*/
    border-radius: 20px;
    width: 170px;
    padding-left: 10px;
    /*background: white;*/
}

.basket-product-block button{
    display: block;
    padding: 10px 5px;
    background-color: khaki;
    border-radius: 20px;
    margin: 10px auto auto auto;
    font-size: 17px;
    outline: none;
}

.basket-product-block button:hover{
    background-color: #e9c857;
    cursor: hand;
}


.basket-product-name {
    overflow-wrap: break-word;
    vertical-align: center;
    margin: 30px auto;
    font-size: 25px;
    width: 65%;
    /*background: antiquewhite;*/
}


.basket-product-price{
    margin: 30px auto;
    font-weight: bolder;
    font-size: 27px;
    width: max-content;
    /*background: crimson;*/
    text-align: right;
    padding-right: 20px;
    text-wrap: avoid;
}

.basket-product-info{
    display: flex;
    /*background: #458b3d;*/
    width: 100%;
}

.input-group-options{
    width: 7%;
    margin: auto;
    float: right;
    /*background: red;*/
    display: flex;
}

.input-group-options a{
    flex-wrap: wrap;
    margin: 5px;
    width: 5%;
    background: #e9c857;
}

.option-button{
height: 100%;
}

.option-input{
    width: 50px;
}