.left-menu{
    padding-top: 5px;
    padding-left: 30px;
    width: 450px;
}

.left-menu ul{
    list-style: none;
    margin: auto;
}

.left-menu-list{
    position: sticky;
    top: 0;
}

.left-menu-list a:hover{
    background: #e9c857;
}
.menu-header{
    font-size: 3em;
}

.l-menu-item img{
    height: max-content;
    width: 45px;
    max-width: 50px;
    /*height: auto;*/
    margin: auto 0;
}

.l-menu-item{
    height: 55px;
    display: flex;
    font-size: 25px;
    margin-top: 3px;
}

.l-menu-item a{
    font-family: Courier New;
    color: black;
    text-decoration: none;
    display: flex;
    width: 100%;
    background-color: khaki;
    padding: 2px 5px;
}

.main-container{
    display: flex;
}

.main-box{
    max-width: 1400px;
    width: 100%;
    justify-content: right;
    flex-wrap: wrap;
    /*background: burlywood;*/
    display: flex;
    padding-right: 50px;
    margin: 0 auto auto auto;
}


.product-block{
    padding: 5px;
    width: 100%;
    max-width: 1380px;
    display: block;
    border: dimgrey solid 1px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 30px;
    justify-items: right;
}

.product-block:hover{
    border: #e9c857 solid 1px;
}

.product-block a{
    box-sizing: border-box;
    /*background: #b3ff00;*/
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}


.product-block p{
    overflow-wrap: break-word;
    vertical-align: center;
}

 .product-block img{
     border-radius: 20px;
     width: 170px;
     padding-left: 10px;
     margin: auto;
 }

.product-block button{
    display: block;
    padding: 10px 5px;
    background-color: khaki;
    border-radius: 20px;
    margin: 10px auto auto auto;
    font-size: 17px;
    outline: none;
}

.product-block button:hover{
    background-color: #e9c857;
    cursor: hand;
}

.product-name{
    margin: 30px auto;
    font-size: 25px;
    width: 65%;
}

.product-price{
    margin: 30px auto;
    font-weight: bolder;
    font-size: 27px;
    width: max-content;
    text-align: right;
    padding-right: 20px;
    text-wrap: avoid;
}

.product-info{
    display: flex;
}

