.main-container{
    display: block;
    /*background: crimson;*/
    max-width: 1800px;
}

.main-box{
    /*background: burlywood;*/
    padding: 0px 10px;
    height: auto;
}

.categoriesBox-header{
    display: flex;
}
.categoriesBox-title{
    padding: 10px;
    margin: auto;
    /*background: chartreuse;*/

}

.categories-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 10px;
    /*background: crimson;*/
    border-bottom: khaki solid 3px;
    border-radius: 3px;
}
.categories-title{
    font-size: 27px;
}

.categories-title::after{
    content:"→";
    font-size: 20px;
}

.categories-item{
    display: flex;
    flex-wrap: wrap;
    width: 19%;
    /*background: blueviolet;*/
    margin-top: 10px;
    justify-content: center;
    border: gray solid 1px;
    border-radius: 20px;

}
.categories-item a{
    width: 100%;
    text-align: center;
    /*background-color: crimson;*/
}


.categories-item img{
    margin-top: 10px;
    width: 80%;
}


.banners-container{
    margin-top: 10px;
    /*background: white;*/
    max-width: 1800px;
    display: flex;
    justify-content: space-evenly;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    border: gray solid 1px;
    border-radius: 20px;
    width: 49%;
}
.banner img{
    max-width: 250px;
    /*background: blueviolet;*/
    margin-right: 15px;
}
.banner-title{
    font-size: 50px;
    margin: auto;
    /*background: crimson;*/
}
