#exit-btn{
    background-color: khaki;
    padding: 0 5px;
    border-radius: 15px;
}

.LK-data-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /*background: red;*/
    border-bottom: khaki solid 3px;
    border-radius: 3px;

}

.LK-data-container input{
    height: 20px;
}

.password-change-href{
    text-underline: black;
}