*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
button{
    outline: none;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: block;
    height: 5em;
    background-color: grey;
}

nav{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}

body{
    position: relative;
}

.h1-block{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.panel-block{
    width: 20%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-block a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}


.upper-menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.upper-menu-item{
    font-size: 20px;
}

.search-container{
    padding-top: 5px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.search-panel input{
    width: 99%;
    border: none;
    outline: none;
    height: 40px;
    background: none;

}

.search-panel{
    width: 90%;
    border-radius: 100px;
    text-align: center;
    border: solid black 1px;
    justify-content: center;
    /*background: khaki;*/
}

.search-button  button{
    height: 100%;
    background-color: khaki;
    padding: 0 5px;
    border-radius: 15px;
}


.left-menu{
    padding-left: 30px;
    width: 450px;
}

.left-menu ul{
    list-style: none;
    margin: auto;
}

.left-menu-list a:hover{
    background: #e9c857;
}
.menu-header{
    font-size: 3em;
}


.l-menu-item img{
    width: 40px;
    height: auto;
    margin-right: 4px;
}


.l-menu-item{
    display: flex;
    font-size: 25px;
    margin-top: 3px;
}

.l-menu-item a{
    font-family: Courier New;
    color: black;
    text-decoration: none;
    display: flex;
    width: 100%;
    background-color: khaki;
}

.main-container{
    display: flex;
}

.main-box{
    max-width: 1400px;
    width: 100%;
    justify-content: right;
    flex-wrap: wrap;
    background: burlywood;
    display: flex;
    padding-right: 50px;
}

-----модальное окно---------
.modal{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    justify-content: center;
    display: block;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.login-top{
    display: flex;
    justify-content: space-between;
    background: orange;
}

.login-button{
    background: khaki;
    border-width: 1px;
    border-radius: 15px;
    border-color: black;
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    outline: none;
}

#login-window input{
    border-radius: 15px;
    border-width: 1px;
    width: 60%;
}

.modal:target{display: block;}
.modal:not(target){display: none;}
.modal.back{
    background-color: lightgrey;
    opacity: 40%;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*#efd688;*/
#login-window, #registration-window{
    background-color: white;
    border: lightgrey solid 2px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 50px auto auto auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#login-window:target{
    display: block;
}


#registration-window:target{
    display: block;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}

.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.modal .back{
    background: dimgray;
    opacity: 40%;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}