

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

header{
    display: block;
    height: 5em;
    background-color: grey;
}

nav{
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
}
.h1-block{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.panel-block{
    width: 20%;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.upper-menu{
    width: 80%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.upper-menu-item{
    font-size: 20px;
}
.search-container{
    display: flex;
    margin: auto;
    justify-content: center;
}
.search-panel input{
    width: 99%;
    border: none;
    outline: none;
    height: 40px;
    background: none;

}

.search-panel{
    width: 90%;
    border-radius: 100px;
    text-align: center;
    border: solid black 1px;
    justify-content: center;
    background: darkblue;
}

.search-button  button{
    height: 100%;
}


.left-menu{
    padding-left: 30px;
    width: 450px;
}

.left-menu ul{
    list-style: none;
    margin: auto;
}

.left-menu-list a:hover{
    background: #d46e12;
}
.menu-header{
    font-size: 3em;
}


.l-menu-item img{
    width: 40px;
    height: auto;
    margin-right: 4px;
}



.l-menu-item{
    display: flex;
    font-size: 25px;
    margin-top: 3px;
}


.l-menu-item a{
    font-family: Courier New;
    color: black;
    text-decoration: none;
    display: flex;
    width: 100%;
    background-color: #efd688;
}

.main-container{
    display: flex;
}

.main-box{
    max-width: 1400px;
    width: 100%;
    justify-content: right;
    flex-wrap: wrap;
    /*background: burlywood;*/
    display: flex;
}


.product-block{
    padding: 5px;
    width: 100%;
    max-width: 1380px;
    display: flex;
    border: blueviolet solid 1px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.product-block a{
    box-sizing: border-box;
    /*background: #b3ff00;*/
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}


.product-block p{

    overflow-wrap: break-word;
    vertical-align: center;
}

 .product-block img{
     /*background: blueviolet;*/
     width: 170px;
 }

.product-block button{
    display: flex;
    margin: auto;
    padding: 20px 5px;
}
.product-name{
    margin: auto;
    font-size: 20px;
    /*margin: 0 20px;*/
    width: 75%;
    /*background: darkorange;*/
}
.product-price{
    margin: auto;
    font-weight: bolder;
    font-size: 25px;
    width: 110px;
    background: crimson;
    text-align: right;
}